
body{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: url('https://images.unsplash.com/photo-1612453949129-628f77f1d93b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    background-position: center center;
    background-size: cover;
    transition: 0.4s;
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.slider-container{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0,0,0, 0.23);
    height: 80vh;
    width: 70vw;
    position: relative;
    overflow: hidden;
}

.slide{
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-position:  center center;
    background-size: cover;
    position: absolute;
    top: -15vh;
    left: -15vw;
    transition: 0.4s ease;
    z-index: 1;
}

.slide.active{
    opacity: 1;
}

.arrow:hover ,
.arrow:focus{
    background-color: rgba(247, 246, 246, 0.3);
    color: #f10532;
}
.arrow{
    position: fixed;
    z-index: 100;
    background-color: transparent;
    padding: 10px;
    font-size: 30px;
    /*z-index: 100;*/
    top: 50%;
    color: white;
    transform: translateY(-50%);
    border: 2px solid #f9f9f7;
}
.arrow:focus{
    outline: 0;
}
.left-arrow{
    left: calc(15vw - 65px);
}

.right-arrow{
    right: calc(15vw - 65px);
}